<!DOCTYPE html>
<html>
<head >
	<meta charset="UTF-8">
	<title>Programacion Visual</title>
</head>
	
<body>
	<header>
		<h1> ¡Bienvenido a Programacion Visual! </h1>
	</header>
	
	<nav>
		<ul>
			<li> <a href="https://www.fi.unju.edu.ar/">Facultad Ingenieria UNJu </a> </li>
			<li> <a href="https://virtual.unju.edu.ar/course/view.php?id=2540">Aula Virtual</a> </li>
			<li> <a href="#sobreNosotros">Sobre nosotros</a></li>
			<li> <a href="#profesores"> Tecnologias a Emplear</a></li>
			<li> <a href="#profesores"> Profesores a cargo</a></li>
		</ul>
	</nav>
	
	<main>
	
		<section id="sobreNosotros">
			<h2>  Carrera Analista Programador Universitario</h2>
			<img alt="proVisual" src="../static/images/progVisual.png">
			
			<p>
		
		</section>
		<section id="profesores">
			<h2 >Profesores a cargo</h2>
			<ul>
				<li> Mg. Ing. Ariel Alejandro Vega </li>
				<li> Ing. Carolina Apaza  </li> 
				<li> Juan Carlos Rodriguez </li>
				<li> Mg. Ing. Gustavo Sosa </li>
			</ul>
		</section>
	</main>
	
</body>
</html>